body {
  background-color: #ffffff;
  color: #283593;
  font-family: 'Roboto Condensed';
}

top-bar {
  color: #ffffff;
}

nav {
  z-index: 2;
}

nav a {
  font-size: 1.2em !important;
}

.pinned #logo-nav {
  height: 75px;
  transition: margin-top 1s, height 1s, width 1s;
}

.pin-top #logo-nav {
  margin-top: -40px;
  width: 330px;
  height: 150px;
  max-width: 130%;
  transition: margin-top 1s, height 1s, width 1s;
}

.sidenav-overlay {
  z-index: 0;
}

#wrapper {
  height: 56px;
}

#login-modal {
  max-width: 400px;
}

.main-title {
  height: 0;
  padding-top: 33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/maison-des-ptits-loups-grand-titre.jpg);
  overflow: visible;
}

h1 {
  font-family: 'Kaushan Script', serif;
}

h2 {
  font-family: 'Kaushan Script', serif;
}

.home-box-image {
  overflow: hidden;
  height: 200px !important;
}

hr {
  border: 0;
  border-top: solid #CCC;
  max-width: 800px;
}

.news-image {
  max-width: 75%;
  width: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo-footer {
  margin-top: -10px;
  max-width: 130%;
  padding-bottom: 0px;
}