body {
  background-color: #ffffff;
  color: #263238;
  font-family: 'Roboto Condensed';
  font-size: 1.3em !important;
}

top-bar {
  color: #ffffff;
}

nav {
  z-index: 2;
}

nav a {
  font-size: 1.2em !important;
}

.pinned #logo-nav {
  height: 75px;
  transition: margin-top 1s, height 1s, width 1s;
}

.pin-top #logo-nav {
  margin-top: -40px;
  width: 330px;
  height: 150px;
  max-width: 130%;
  transition: margin-top 1s, height 1s, width 1s;
}

.nav-mobile {
  font-size: 1.4em;
}

.sidenav-close {
  background-color: #CCC;
}

.sidenav-overlay {
  z-index: 0;
}

#wrapper {
  height: 56px;
}

#login-modal {
  max-width: 400px;
}

.main-title {
  height: 0;
  padding-top: 33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/maison-des-ptits-loups-grand-titre.jpg);
  overflow: visible;
}

h1,
h2 {
  font-family: 'Kaushan Script', serif;
  color: #db543e;
}

section {
  margin-top: 4%;
  margin-bottom: 3%;
}

.container {
  margin-left: auto !important;
  margin-right: auto !important;
}

#grey-section {
  padding-top: 2%;
  padding-bottom: 3%;
  margin-top: 2%;
  margin-bottom: 0%;
}

.news-display-box {
  margin-bottom: 0px;
}

.news-display {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.news-display img {
  vertical-align: middle !important;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
}

.home-box-image {
  overflow: hidden;
  height: 200px !important;
}

hr {
  border: 0;
  border-top: solid #CCC;
  max-width: 800px;
}

nav hr {
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 250px;
}

#pagesized {
  min-height: 100%;
}

.register-content{
  font-size:x-large;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 8%;
  width:fit-content;
}

.news-image, #bottom-images img {
  max-width: 75%;
  width: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bottom-images {
  background-color: #db543e;
  margin-bottom: 0px;
  padding-bottom: 2%;
}

#bottom-images h2{
color: #263238 !important;
}

#bottom-images img{
  margin-top: 1em;
  border: solid 1rem white;
}

@media (max-width: 992px) {
  .size-controller {
    width: 100%;
  }

  .mobile-16px-font {
    font-size: 16px !important;
  }

  .mobile-hide {
    display: none;
  }

  .mobile-100-percent {
    width: 100% !important;
  }
}

@media (min-width: 992px) {

  .mobile-hide {
    display: inline;
  }

  .mobile-show {
    display: none;
  }
}

footer a {
  color: #DDD;
}

.footer-copyright a {
  color: #bd0000;
}

#logo-footer {
  margin-top: -10px;
  max-width: 130%;
  padding-bottom: 0px;
}